/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Черный фон */
    color: white;
    box-sizing: border-box;
}

/* Стили для хедера */
header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: center;
}

#aboutBtn {
    background-color: #007bff;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#aboutBtn:hover {
    background-color: #0056b3;
}

/* Стили для секции "О нас" */
#about {
    padding: 50px 0;
    background-color: #222;
    text-align: center;
}

#about h2 {
    font-size: 2.5em;
}

#about p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

/* Скрытая секция */
.hidden {
    display: none;
}

/* Стили для секции "Анкеты" */
#profiles {
    padding: 50px 0;
    background-color: #111;
    text-align: center;
}

.profile-card {
    display: inline-block;
    background-color: #333;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    max-width: 250px;
    color: white;
    text-align: center;
}

.profile-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.profile-info {
    padding-top: 10px;
}

.profile-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.profile-card p {
    font-size: 1.1em;
    margin: 5px 0;
}

.telegram-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
}

.telegram-btn:hover {
    background-color: #0056b3;
}

/* Стили для футера */
footer {
    background-color: #222;
    padding: 20px 0;
    text-align: center;
}

footer p {
    color: #888;
}
