/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('assets/background.jpg'); /* Указываем путь к изображению */
    background-size: cover; /* Изображение будет растянуто на весь экран */
    background-position: center; /* Центрируем изображение */
    color: white;
    box-sizing: border-box;
}

/* Верхнее меню */
header {
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон для меню */
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.menu {
    position: absolute;
    top: 20px;
    left: 20px;
}

#menuBtn, #aboutBtn {
    background-color: #007bff;
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#menuBtn:hover, #aboutBtn:hover {
    background-color: #0056b3;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: white;
}

/* Модальное окно "О нас" */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1; /* Поверх всего */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    color: white;
}

.close {
    color: #aaa;
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для секции "Анкеты" */
#profiles {
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон для анкет */
    text-align: center;
}

.profile-card {
    display: inline-block;
    background-color: #333;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    max-width: 250px;
    color: white;
    text-align: center;
}

.profile-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.profile-info {
    padding-top: 10px;
}

.profile-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.profile-card p {
    font-size: 1.1em;
    margin: 5px 0;
}

.telegram-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
}

.telegram-btn:hover {
    background-color: #0056b3;
}

/* Стили для секции "Связаться с нами" */
#contact {
    padding: 50px 0;
    text-align: center;
    background-color: #222;
}

#contact a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    text-decoration: underline;
}

/* Стили для футера */
footer {
    background-color: #222;
    padding: 20px 0;
    text-align: center;
}

footer p {
    color: #888;
}
